*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button,
select,
input,
select {
	outline: none;
	border: none;
	cursor: pointer;
	color: inherit;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
li {
	list-style: none;
}

html {
	min-height: 100vh;
}

body {
	min-height: 100vh;
}